.recorder-container {
  display: flex;
  align-items: flex-start;
  border: 1px solid red;
  padding: 5px;
}

.recorder-label {
  margin: 0 20px;
}
.recorder-textarea,
.recorder-input {
  vertical-align: top;
  margin-left: 10px;
}
